*{
  box-sizing: border-box;
}

body{
  background: url(https://www.wallpapertip.com/wmimgs/24-249670_high-resolution-wooden-background-hd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::before{
  content: '';
  display: ;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index:-99999;
  background-color: rgba(143, 143, 143, 0.4);
}

.card-body{
  background-color: #9ED2C6;
}

.header1{
  display: flex;
  position: sticky;
  top:0;
  z-index: 3;
}

.header1 h1{
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  position: sticky;
  top:0;
}

.heade .header1{
  background-color: #5EBEC4;
}

img{
  width: 160px;
  height: 160px;
  border-radius: 5px;
  padding-right: 5px;
  transition: 2s;
  border-radius: 80px;
}

#num{
  position: absolute;
  font-size: 15px;
  background-color: #F1B814;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  right: 12px;
  top: 5px;
  border: none;
  pointer-events: none;
  font-weight: 500;
  text-align: center;
}

#quantity{
  font-size: 36px
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  pointer-events: none;
  font-weight: 500;
  text-align: center;
  background-color: inherit;
  display: none;
}

.price-sec{
  display: flex;
  font-weight: 600;
  align-items: baseline;
  }

.total{
    display: flex;
    font-weight: 600;
    align-items: baseline;
    font-size: 22px;
    }

.total-price{
  pointer-events: none;
  margin-bottom: 10px;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
}


.price{
  pointer-events: none;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  font-size: 20px;
  font-weight: 600;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.item{
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  justify-items:center;
  transition: 0.8s;
  background-color: #F6F4F2;
}

.item:hover{
  transform: scale(1.03);
}


.plus, .minus{
  background-color: #F1B814;
  padding: 2px 6px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 5px;
  display: none;
}



.item .row{
  width: 80%;
}

.fa-solid{
  position: absolute;
  right: 10px;
  top:15px;
  font-size: 30px;
  cursor: pointer;
}

.item:hover img {
  transform: rotate(30deg);
}


.item-text button{

  border: none;
  border-radius: 5px;
  background-color: #F1B814;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 4px 40px;
}

.mycart{
  position: relative;
  top: 10px;
  left: 0;}

  .plus-minus{
   width: 40px;
   font-size: 20px;
   font-weight: 500;
   display: none;
 }



/* list item */
#cart-head{
  position: sticky;
  top: 55px;
  display: flex;
  z-index: 3;
  background-color: #fff;
}
.list-items .row img{

}

.list-items{
  display: none;
  justify-content: center;
  align-items: center;
}

.list-items .plus-minus {
  display: flex;
}

.list-items .add{
  display: none;
}

.list-items .item1, .list-items .item2, .list-items .item3, .list-items .item4, .list-items .item5, .list-items .item6{
  display: none;
}

.list-items #quantity{
  display: block;
}




.bought .container .list-items{
  width: 100%;
}



.list-items .plus, .minus{
  width: 40px;
  font-size: 20px;
  font-weight: 500;
  display: flex;

}



/* footer */

footer{
  display:flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FDF5DF;
}

footer button{
  position: absolute;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #F1B814;
  font-weight: 500;
  transition: 1s;
  padding-right: 10px;
  height: 40px;
  right: 20px;
  margin-top: auto;
  margin-bottom: auto;

}

footer button:after{
  content: '';
  display:inline-block;
  background: url(../images/deliver.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  left: 3px;
  transition: 1s;
  animation: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {
  .item{
    text-align: center;
  }

  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .item img{
    margin: 0;
    padding: 0;
  }
  .item button{
    position: relative;
    width: 70%;
  }

  .price-sec{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  .list-items .item{
    text-align: center;
  }
}
