@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600&family=Play:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  perspective: 1000px;
}

.background{
  background: url(https://wallpapersmug.com/download/3840x2400/ebde76/delicious-pizza-food.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

.coupon img{
  width: 20%;
  height: 60px;
}

.background .coupon{
  perspective: 1000px;
  padding-top: 20px;
  padding-right: 400px;
  text-align: center;
  position: relative;
  left: -200px;
  width: 100%;
   background-color: #c6e0da;
   opacity: 0.7;
   background-color: #c6e0da ;
  transform: rotateZ(-17deg);
  }

#main-menu{
  height: 100vh;
}

a{
  list-style: none;
}

.back-h{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
  width: 100%;
  background-color: #c6e0da ;;
}

.background i{
  position: relative;
  font-size: 60px;
}

body{
  background: url(https://www.wallpapertip.com/wmimgs/24-249670_high-resolution-wooden-background-hd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Play', sans-serif;
}



.card-body{
  background-color: #9ED2C6;
  position: relative;
  height: auto;
}

.header1{
  display: flex;
  position: sticky;
  top:0;
  z-index: 3;
}

.header1 h1{
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  position: sticky;
  top:0;
}

.heade .header1{
  background-color: #5EBEC4;
}

img{
  width: 160px;
  height: 160px;
  border-radius: 5px;
  padding-right: 5px;
  transition: 2s;
  border-radius: 80px;
}

#num{
  position: absolute;
  font-size: 15px;
  background-color: #F1B814;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  right: 12px;
  top: 5px;
  border: none;
  pointer-events: none;
  font-weight: 500;
  text-align: center;
}

#quantity{
  font-size: 36px
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  pointer-events: none;
  font-weight: 500;
  text-align: center;
  background-color: inherit;
  display: none;
}

.price-sec{
  display: flex;
  font-weight: 600;
  align-items: baseline;
  }

.total{
    display: flex;
    font-weight: 600;
    align-items: baseline;
    font-size: 18px;
    }

.total-price{
  pointer-events: none;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  left: 0;

}


.price{
  pointer-events: none;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  font-size: 20px;
  font-weight: 600;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.item{
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  justify-items:center;
  transition: 0.8s;
  background-color: #F6F4F2;
}

.item:hover{
  transform: scale(1.03);
}


.plus, .minus{
  background-color: #F1B814;
  display: none;
}



.item .row{
  width: 80%;
}

.fa-solid{
  position: absolute;
  right: 10px;
  top:15px;
  font-size: 30px;
  cursor: pointer;
}

.item:hover img {
  transform: rotate(30deg);
}




.item-text button{

  border: none;
  border-radius: 5px;
  background-color: #F1B814;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 4px 40px;
}

.mycart{
  position: relative;

  top: 10px;
  left: 0;}

  .plus-minus{
   width: 30%;;
   font-size: 20px;
   font-weight: 500;
   display: none;
   text-align: right;
 }



/* list item */
#cart-head{
  position: sticky;
  top: 55px;
  display: flex;
  z-index: 3;
  background-color: #fff;
}

.list-items{
  display: none;
  justify-content: center;
  align-items: center;
}

.list-items .plus-minus {
  display: flex;
}

.list-items .add{
  display: none;
}

.list-items .item1, .list-items .item2, .list-items .item3, .list-items .item4, .list-items .item5, .list-items .item6{
  display: none;
}

.list-items #quantity{
  display: block;
}




.bought .container .list-items{
  width: 100%;
}



.list-items .plus, .minus{
  width: 40px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}



/* footer */

footer{
  display:flex;
  position:sticky;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: #fff;
  background-color: #FDF5DF;
  justify-content: center;
  align-items: center;
  height: 8vh;
  margin-bottom: 20px;
}

footer button{
  position: absolute;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #F1B814;
  font-weight: 500;
  transition: 1s;
  height: 40px;
  right: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

#proceed{
  buttton:disabled;
}

footer button:after{
  content: '';
  display:inline-block;
  background: url(../images/deliver.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  left: 3px;
  transition: 1s;
  animation: move1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes move1 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(15%);

  }
  100%{
    transform: translateX(0);
  }
}

.payment{
  display: none;
  height:100vh;
  width: 100%;
}

form{
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.payment input{
  display: flex;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
}

.deliver2{
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #F1B814;
  font-weight: 500;
  transition: 1s;
  margin-top: 30px;
  margin-bottom: auto;
  padding: 3px 15px;
}

#last{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 100%;
}

.fa-person-biking{
  margin-right: 500px;
  font-size: 50px;
  position: absolute;
  left: 50px;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes move {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}

.home{
  font-size: 50px;
  position: absolute;
  right: 50px;
}

.last-card{
  height: 100vh;
  display: none;
  background: url(https://th.bing.com/th/id/R.b97b76e0ac8aedde06bf0fa277c9a1af?rik=bZztCWgbprYv2Q&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1955228.jpg&ehk=7Ia%2fTQpRgAhy7%2b6LvPHwPZmzxSt4ApykmtuGuKLM4xo%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
}

.progress{
  height: 40px;
  border: 0.5px solid darkslategray;
  box-sizing: border-box;
  font-size: 25px;
  position: relative;
}



.progress-bar:first-child{
  background-color: green;
}

.progress-bar:nth-child(2){
  background-color: lightgreen;
  animation-name: fill;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.progress-bar:nth-child(3){
  background-color: transparent;
  color: forestgreen;
  position: relative;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 66%;
}

@keyframes fill {
  0%{
    width: 0%;
  }
  50%{
    width: 33%;
    background-color: green;
  }
  100%{
    width: 0%
  }
}


.onTheWay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d) ;
  opacity: 0.9;
  width: 100%;
  padding: 20px 5px;
}

.onTheWay a{
  text-decoration:none;
}






@media only screen and (max-width: 576px) {
  .item{
    text-align: center;
  }
  .last-card{
    background: url(https://picjumbo.com/wp-content/uploads/pizza-quattro-formaggi-vertical-2210x3315.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .coupon img{
    width: 20%;
    height: 40px;
  }
  
  .background .coupon{
    perspective: 1000px;
    padding-top: 5%;
    padding-right: 0;
    text-align: center;
    padding-left: 10%;
    position: relative;
    left: -10%;
    width: 115%;
    top: 5%;
    background-color: #c6e0da;
    opacity: 0.7;
    background-color: #c6e0da ;
    transform: rotateZ(-10deg);
    }

    .coupon h3{
      font-size: 20px;
    }

  .onTheWay h2{
    font-size: 20px;
  }

  .progress{
    height: 40px;
    border: 0.5px solid darkslategray;
    box-sizing: border-box;
    font-size: 15px;
  }

  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .item img{
    margin: 0;
    padding: 0;
  }
  .item button{
    position: relative;
    width: 70%;
  }

  .price-sec{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  .list-items .item{
    text-align: center;
    padding-left: 67px;
  }

  .payment input{
    display: flex;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
  }

  .last-card h1{
    font-size: 20px;
  }

  @keyframes move {
    0%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(220%);
    }
  }

}

@media screen and (max-width:576px) {
  .background{
    background: url(https://wallpaperaccess.com/full/3061693.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #main-menu{
    height: auto;
  }

  .bought{
    height: auto;
  }
}
